<div class="container">
    <div class="header">
        <div>
            QR Code Scanner
        </div>
        <div (click)="disableScanner()"> 
            <i class="fas fa-times-circle"></i>    
        </div>

    </div>
    <div class="camera">
        <zxing-scanner
        [enable]="scannerEnabled"
        [torch]="torch"
        (torchCompatible)="onTorchCompatible($event)"
        (camerasFound)="camerasFoundHandler($event)"
        (camerasNotFound)="camerasNotFoundHandler($event)"
        (scanSuccess)="scanSuccessHandler($event)"
        (scanError)="scanErrorHandler($event)"
        (scanFailure)="scanFailureHandler($event)"
        (scanComplete)="scanCompleteHandler($event)"
        ></zxing-scanner>
    </div>
</div>
