<div class="container">
    <div class="btncontainer">
            <div class="heading">
                Login As:
            </div>
            <div class=btn (click)="bayers()">
                Bayers Employee
            </div>
            <div class=btn (click)="supplier()">
                Supplier
            </div>
            <div class=btn (click)="customer()">
                Customer
            </div>
            <div class=btn (click)="analytics()">
                Admin/Manager - Analytics
            </div>
    </div>
</div>
