<div class="Maincontainer">
    <section id="demo">
	    <div class="vertical-align">
	        <div class="container">
	            <div class="row">
	                <div class="col-sm-6 col-sm-offset-3 col-xs-offset-0">
	                    <div class="card no-border">
	                        <div id="chat" class="conv-form-wrapper">
	                            <form action="" method="GET" class="hidden">
	                                <!-- <input type="text" name="name" data-conv-question="Welcome to Bayers Digital Experience, What can I do for you ?"> -->
									<select data-conv-question="Welcome to Bayers Digital Experience, What can I do for you ?">
										<option value="_product">Product Related</option>
										<option value="_order">Order Related</option>
										<option value="_other">Other</option>
									</select>
	                            </form>
	                        </div>
	                    </div>
	                </div>
	            </div>
	        </div>
	    </div>
	</section>
</div>

